body {
    background: url("https://images6.alphacoders.com/831/831179.jpg") no-repeat center;
    color: white;
    
}

h1 {
    color: orange;
    text-shadow: 2px;
}
h3 {
    color:white;
}

button {
    background-color: gray;
}
.col-md-4 {
    margin: auto;
}

#container {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background: url("https://people.rit.edu/~awk9293/230/project1/media/bground.jpg") no-repeat;
    font-family: 'Source Code Pro', monospace;
}
#question_div {
    background-color: gray;
    background: url("https://people.rit.edu/~awk9293/230/project1/media/bground.jpg") no-repeat;
    background-size: cover;
    font-family: 'Source Code Pro', monospace;
}